.modalPositionWrapper {
    position: absolute;
    z-index: 100;
    background-color: rgb(0, 0, 0, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalWrapper {
    background-color: #fff;
    border: 1px solid rgb(198, 195, 195);
    border-radius: 6px;
    padding: 30px;
    display: flex;
    flex-direction: row;
}

.infoWrapper {
    width: 340px;
}

.repeatWrapper {
    width: 200px;
    padding-left: 30px;
}

.titleWrapper {
    width: 100%;
}

.titleInput {
    width: 100%;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.containerRepeat {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    margin-bottom: 20px;
}

.containerRadio {
    margin-bottom: 5px;
}

.checkboxItem {
    display: flex;
    flex-direction: row;
}

.buttonsWrapper {
    display: flex;
    justify-content: flex-end;
}

.button {
    background-color: #fff;
    border: none;
    padding: 6px 10px;
    color: #0091ff;
    font-weight: 500;
    border-radius: 4px;
}

.button:hover {
    background-color: #d6d6d6;
}

/* .select {
    border: 1px solid rgb(198, 195, 195);
    background-color: rgb(214, 214, 214);
    border-radius: 4px;
}

.select:focus {
    background-color: rgb(161, 161, 161);
} */

.selectOption {
    background-color: #fff;
}

.text {
    font-size: 13px;
}

.textHeader {
    margin-bottom: 5px;
}

.inputNumber {
    width: 40px;
}