.gridWrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* grid-template-rows: repeat(6, 1fr); */
    background-color: rgb(198, 195, 195);
    grid-gap: 1px;
}

.cellWrapper {
    min-width: 140px;
    min-height: 100px;
    background-color: #fff;
}

.cellWrapper:hover {
    background-color: #eeeeee;
}

.cellWrapper_weekend {
    background-color: #f3f3f3;
}

.daysOfWeek {
    min-width: 140px;
    min-height: 24px;
    background-color: #fff;
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #646464;
}

.daysOfWeekText {
    margin-left: 3px;
}

.rowInCell {
    display: flex;
}

.dayWrapper {
    display: flex;
    height: 33px;
    width: 33px;
    align-items: center;
    justify-content: center;
    margin: 4px;
    color: #acacac;
}

.selectedMonthColor {
    color: #000;
}

.currentDay {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.185);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}