.formWrapper {
    width: 300px;
    background-color: #fff;
    position: relative;
    border-left: 1px solid rgb(198, 195, 195);
}

.inputWrapper {
    margin: 10px 10px 5px 10px;
}

.inputTitle {
    padding: 4px 14px;
    font-size: .85rem;
    width: 100%;
    border: 1px solid rgb(198, 195, 195);
    border-radius: 4px;
    box-sizing: border-box;
}

.selectTimeWrapper {
    display: flex;
    flex-direction: column;
}

.dateWrapper {
    margin: 10px 10px 5px 10px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    border: 1px solid rgb(198, 195, 195);
    border-radius: 4px;
    padding: 4px;
}

.timeWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.listOfHoursStart {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 180px;
    overflow-y: scroll;
    position: absolute;
    z-index: 1;
    top: 25px;
    left: 227px;
}

.listOfHoursEnd {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 180px;
    overflow-y: scroll;
    position: absolute;
    z-index: 1;
    top: 25px;
    left: 227px;
}

.select {
    border: 1px solid rgb(198, 195, 195);
    background-color: rgb(214, 214, 214);
    border-radius: 4px;
}

.select:focus {
    background-color: rgb(161, 161, 161);
}

.selectOption {
    background-color: #fff;
}

.buttonsWrapper {
    padding: 8px;
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}

.button {
    border: 1px solid rgb(198, 195, 195);
    background-color: rgb(214, 214, 214);
    color: #000;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.button:active {
    background-color: rgb(161, 161, 161);
}

.removeButton {
    background-color: rgba(255, 0, 0, 0.185);
}

.createBtnWrapper {
    margin: 10px;
}

.noEventMessage {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);  
}