.cellWrapper {
    min-width: 140px;
    min-height: 100px;
    background-color: #fff;
}

.cellWrapper:hover {
    background-color: #eeeeee;
}

.cellWrapper_weekend {
    background-color: #f3f3f3;
}

.rowInCell {
    display: flex;
    align-items: center;
}

.dayWrapper {
    display: flex;
    height: 33px;
    width: 33px;
    align-items: center;
    justify-content: center;
    margin: 4px;
    color: #acacac;
}

.selectedMonthColor {
    color: #000;
}

.currentDay {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.185);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventWrapper {
   display: flex;
   flex-direction: column;
}

.eventTitle {
    background-color: rgb(0, 145, 255);
    border-radius: 3px;
    margin-right: 2px;
    margin-left: 1px;
    margin-bottom: 2px;
    font-size: 13px;
    color: #fff;
    padding: 3px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.showMoreTitle {
    height: 15px;
    background-color: rgb(0, 65, 115);
    border-radius: 3px;
    font-size: 13px;
    color: #fff;
    padding: 3px 5px;
    margin: 0 2px 0 auto;
    display: flex;
    align-items: center;
}