.wrapper {
    /* background-color: rgb(198, 195, 195); */
    background-color: #fff;
    flex-grow: 1;
    display: flex;
}

.eventsListWrapper {
    flex-grow: 1;
}

.eventListWrapper {
    margin: 0;
    padding: 0;
    width: 100%;
}

.eventWrapper {
    display: flex;
    padding: 0 2px 2px 2px;
}

.eventTitle {
    position: relative;
    flex-grow: 1;
    background-color: rgb(0, 145, 255);
    border-radius: 3px;
    margin: 1px 0;
    font-size: 13px;
    color: #fff;
    padding: 3px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.formWrapper {
    width: 350px;
    background-color: #fff;
    position: relative;
    border-left: 1px solid rgb(198, 195, 195);
}

.noEventMessage {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);  
}

.timelineWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.timelineCellWrapper {
    flex-grow: 1;
    position: relative;
    margin-left: 38px;
    padding: 0 2px;
    border-left: 1px solid rgb(198, 195, 195);
    &:not(:last-child) {
        border-bottom: 1px solid rgb(198, 195, 195);
    }
}

.alldayCellWrapper {
    flex-grow: 1;
    position: relative;
    border-bottom: 1px solid rgb(198, 195, 195);
    display: flex;
    min-height: 26px;
}

.alldayCellText {
    font-size: 11px;
    border-right: 1px solid rgb(198, 195, 195);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
}

.alldayCellEventWrapper {

}

.cellTimeWrapper {
    position: absolute;
    font-size: 11px;
    left: -34px;
    top: -2px;
}

.cellEventWrapper {
    min-height: 26px;
}