.daysOfWeek {
    min-width: 130px;
    min-height: 24px;
    background-color: #fff;
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #646464;
}

.daysOfWeekText {
    margin-left: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}