.wrapper {
    /* background-color: rgb(198, 195, 195); */
    background-color: #fff;
    flex-grow: 1;
    display: flex;
}

.eventsListWrapper {
    flex-grow: 1;
}

.timelineWrapper {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.weekCellsWrapper {
    display: flex;
    flex-direction: row;
}

.weekHeader {
    display: flex;
    flex-direction: row;
}

.weekDayColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cellTimeWrapper {
    position: absolute;
    font-size: 11px;
    /* left: -34px; */
    /* top: -2px; */
    height: 100%;
    width: 39px;
    padding-left: 2px;
    border-right: 1px solid rgb(198, 195, 195);
    box-sizing: border-box;
} 