.dayCellWrapper {
    position: relative;
    width: 100%;
}

.timelineCellWrapper {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    min-height: 40px;
    border-bottom: 1px solid rgb(198, 195, 195);
}

.dayWrapper {
    width: 70px;
    font-size: 13px;
    color: #646464;
    padding-left: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.eventsWrapper {
    width: 100%;
    position: relative;
}
